/* ここから下に記載していく */
body {
  width: 1200px;
  margin: 0 auto;
}
.wrap p {
  line-height: 100px;
}

header {
  background: white;
  display: flex;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
}

.header_logo {
  float: left;
  padding: 25px 150px 25px 50px;
}

.header_list ul {
  float: right;
}
.header_list li {
  float: left;
  padding: 50px 25px 50px 25px;
}




.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-align: center;
  background-image: url(../img/mainbg.png);
}

.bg_text h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: white;
}

.bg_text h2 {
  font-size: 30px;
  color: white;
}
.main_contents h1{
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_contents h2{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ABOUT {
  text-align: center;
}

.ABOUT h1{
  color: #ffd61a;
  padding: 60px 0px 30px 0px;
  font-weight: bold;
}
.ABOUT h1{
  line-height: 0;
}

.ABOUT h2{
  padding: 0px 0px 60px;
}
.ABOUT h2{
  line-height: 2;
}



.ABOUT_p1{
  padding: 0px 0px 40px 0px;
}
.ABOUT_p1 p{
  line-height: 2;
}

.ABOUT_p2{
  padding: 0px 0px 40px 0px;
}
.ABOUT_p2 p{
  line-height: 2;
}
.ABOUT_p3{
  padding: 0px 0px 40px 0px;
}
.ABOUT_p3 p{
  line-height: 2;
}
.ABOUT_p4{
  padding: 0px 0px 80px 0px;
}
.ABOUT_p4 p{
  line-height: 2;
}
.ABOUT_photo {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 -10px;
}

.ABOUT_photo img {
  width: 300px;
  height: auto;
  margin: 0 0px;
  object-fit: cover;
}

.COURSE h1{
  color: #222222;
  padding: 60px 0px 30px 0px;
  font-weight: bold;
}
.COURSE h2{
  color: #222222;
  padding: 0px 0px 30px 0px;
  font-weight: bold;
}
.COURSE_p1{
  padding: 0px 0px 60px 0px;
}
.COURSE_p1 p{
  line-height: 2;
}
.COURSE {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
}
.item {
  width: 600px;
  height: 403px;
  margin-bottom: 0px;
  background-color: #fafafa;
}
.item img {
  width: 100%;
  height: auto;
}
.item h2{
  line-height: 2;
  text-align: left;
  margin-left: 50px;
}
.item p{
  line-height: 2;
  text-align: left;
  margin-left: 50px;
}

.outer_container{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 -10px;
  width: 1200px;
}


.inner_container{
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 -10px;

}
.action_button h1{
  font-size: 18px;
  color: white;
  background-color: #ffd61a;
  height: 50px;
  width: 100px;
  padding: 10px 70px 10px 70px;
}
.action_button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;

}

.action_button:hover {
  transform: translateY(-5px);
}

.ACCESS{
  background-color: #fafafa;
}

.ACCESS h1{
  color: #222222;
  padding: 60px 0px 30px 0px;
  font-weight: bold;
}
.ACCESS h1{
  line-height: 0;
}
.ACCESS h2{
  color: #222222;
  padding: 60px 0px 60px 0px;
}
.ACCESS h2{
  line-height: 0;
}

.CONTACT h1{
  color: #222222;
  padding: 60px 0px 30px 0px;
  font-weight: bold;
}
.CONTACT h2{
  color: #222222;
  padding: 0px 0px 30px 0px;
}
.CONTACT_p1{
  padding: 0px 0px 60px 0px;
}
.CONTACT_p1 p{
  line-height: 2;
}
.CONTACT_p2{
  padding: 30px 0px 70px 0px;
}
.CONTACT_p2 p{
  line-height: 2;
}
.CONTACT {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}
th {
  background-color: #f2f2f2;
  font-weight: normal;
  width: 25%;
  text-align: left;
}
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}
input[type="checkbox"] + label {
  display: inline-block;
  margin-right: 20px;
}
button[type="submit"] {
  background-color: yellow;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #f2d61f;
}

